{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Product List</title>
  <style>
    /* CSS styling */
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 10px;
      text-align: left;
    }

    thead {
      background-color: #f2f2f2;
    }

    tbody tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tbody tr:hover {
      background-color: #e6e6e6;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Product List</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Total Price</th>
          <th>price(each)</th>
          <th>Last Purchase</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.total_price }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.last_purchase }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">No products found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
